<div class="w-screen flex justify-center">
  <div class="w-full flex flex-col max-w-lg px-10">
    <div class="flex items-center flex-wrap">
      <span
        class="md:w-auto w-full mr-4 font-semibold font-Poppins text-gray-700 mt-4 text-base"
        >¿Estos datos son correctos?</span
      >
      <span
        class="text-xs font-normal font-Poppins text-green-500 md:mt-4 focus:outline-none"
        >Verificar area de cobertura
      </span>
    </div>

    <div class="shadow-lg px-8 py-4 mt-4">
      <div class="flex flex-col mt-2">
        <label class="font-semibold text-sm text-gray-700">Dirección:</label>
        <p class="text-sm">
          {{ userData.direction }} || {{ userData.extraInfo }}
        </p>
      </div>
      <div class="flex flex-col mt-2">
        <label class="font-semibold text-sm text-gray-700"
          >Numero de contacto:</label
        >
        <p class="text-sm">{{ userData.phone }}</p>
      </div>
      <div class="flex flex-col mt-2">
        <label class="font-semibold text-sm text-gray-700">Nombre:</label>
        <p class="text-sm">{{ userData.name }}</p>
      </div>
    </div>
    <div
      routerLink="user/update"
      class="text-xs font-semibold font-Poppins flex w-full justify-between mt-2"
    >
      <span class="text-blue-500 focus:outline-none" routerLink="/user/update">
        No lo son, quiero cambiarlos.
      </span>
    </div>
  </div>
</div>
