<div class="w-full flex flex-col items-center justify-center">
  <div
    class="w-10/12 mt-4 max-w-xl lg:max-w-lg flex items-center flex-col bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 lg:px-3 py-3 shadow-md puff-in-center"
  >
    <div class="flex">
      <div>
        <p class="font-bold px-2">Atención</p>
        <ul class="list-disc lg:w-11/12 px-16">
          <li>
            <p class="text-xs">
              De momento solo aceptamos
              <span class="font-bold">efectivo</span> como medio de pago.
            </p>
          </li>
          <li>
            <p class="text-xs">
              Asegurate de tener el dinero en el momento que el pedido sea
              entregado.
            </p>
          </li>
          <li>
            <p class="text-xs">
              En caso de cualquier inquietud , contactar directamente con
              nosotros.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-10/12 max-w-xl lg:max-w-lg puff-in-center mt-4">
    <span class="font-Poppins uppercase text-gray-800 font-semibold"
      >Instrucciones:
    </span>
    <textarea
      [(ngModel)]="instructions"
      class="textarea w-full bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-2 py-2 shadow-md"
      placeholder="Este campo es opcional "
    ></textarea>
  </div>
</div>
