<span
  *ngIf="this.actualOrders.length > 0"
  class="px-2 mb-4 lg:hidden font-semibold font-Poppins text-gray-700"
  >Pedidos en curso :</span
>
<div
  #notOrders
  *ngIf="this.actualOrders.length === 0 && !this.updatingData"
  class="w-full flex justify-center flex-col items-center"
>
  <img
    class="mx-4 w-80"
    src="../../../../assets/undraw_breakfast_psiw.svg"
    alt=""
  />
  <span class="text-gray-500 font-Poppins font-light text-base mt-4 lg:text-lg"
    >¡Al parecer no tenes ningún producto activo!</span
  >

  <button
    class="px-2 py-2 text-white font-Poppins font-semibold bg-green-500 rounded mt-3 focus:outline-none"
    routerLink="/menu"
  >
    Seguir comprando
  </button>
  <span class="text-gray-500 font-Poppins font-light text-sm mt-4 lg:text-base"
    >Comproba si tu pedido fue rechazado en el
    <span
      class="text-green-600 font-semibold focus:outline-none cursor-pointer"
      routerLink="/user/history"
      >historial</span
    >
  </span>
</div>
<div
  class="w-80 -mt-16 h-full flex justify-center items-center absolute z-50"
  *ngIf="this.updatingData"
>
  <div class="loader loader--style6" title="5">
    <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="24px"
      height="30px"
      viewBox="0 0 24 30"
      style="enable-background: new 0 0 50 50"
      xml:space="preserve"
    >
      <rect x="0" y="13" width="4" height="5" fill="#333">
        <animate
          attributeName="height"
          attributeType="XML"
          values="5;21;5"
          begin="0s"
          dur="0.6s"
          repeatCount="indefinite"
        />
        <animate
          attributeName="y"
          attributeType="XML"
          values="13; 5; 13"
          begin="0s"
          dur="0.6s"
          repeatCount="indefinite"
        />
      </rect>
      <rect x="10" y="13" width="4" height="5" fill="#333">
        <animate
          attributeName="height"
          attributeType="XML"
          values="5;21;5"
          begin="0.15s"
          dur="0.6s"
          repeatCount="indefinite"
        />
        <animate
          attributeName="y"
          attributeType="XML"
          values="13; 5; 13"
          begin="0.15s"
          dur="0.6s"
          repeatCount="indefinite"
        />
      </rect>
      <rect x="20" y="13" width="4" height="5" fill="#333">
        <animate
          attributeName="height"
          attributeType="XML"
          values="5;21;5"
          begin="0.3s"
          dur="0.6s"
          repeatCount="indefinite"
        />
        <animate
          attributeName="y"
          attributeType="XML"
          values="13; 5; 13"
          begin="0.3s"
          dur="0.6s"
          repeatCount="indefinite"
        />
      </rect>
    </svg>
  </div>
</div>
<div
  class="w-80 -mt-16 h-full flex justify-center items-center absolute z-50"
  *ngIf="this.updatingData"
>
  <div class="loader loader--style6" title="5">
    <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="24px"
      height="30px"
      viewBox="0 0 24 30"
      style="enable-background: new 0 0 50 50"
      xml:space="preserve"
    >
      <rect x="0" y="13" width="4" height="5" fill="#333">
        <animate
          attributeName="height"
          attributeType="XML"
          values="5;21;5"
          begin="0s"
          dur="0.6s"
          repeatCount="indefinite"
        />
        <animate
          attributeName="y"
          attributeType="XML"
          values="13; 5; 13"
          begin="0s"
          dur="0.6s"
          repeatCount="indefinite"
        />
      </rect>
      <rect x="10" y="13" width="4" height="5" fill="#333">
        <animate
          attributeName="height"
          attributeType="XML"
          values="5;21;5"
          begin="0.15s"
          dur="0.6s"
          repeatCount="indefinite"
        />
        <animate
          attributeName="y"
          attributeType="XML"
          values="13; 5; 13"
          begin="0.15s"
          dur="0.6s"
          repeatCount="indefinite"
        />
      </rect>
      <rect x="20" y="13" width="4" height="5" fill="#333">
        <animate
          attributeName="height"
          attributeType="XML"
          values="5;21;5"
          begin="0.3s"
          dur="0.6s"
          repeatCount="indefinite"
        />
        <animate
          attributeName="y"
          attributeType="XML"
          values="13; 5; 13"
          begin="0.3s"
          dur="0.6s"
          repeatCount="indefinite"
        />
      </rect>
    </svg>
  </div>
</div>
<div class="w-full lg:w-85">
  <div
    class="w-full rounded-md shadow-lg px-3 py-2 flex flex-col"
    *ngFor="let order of actualOrders"
  >
    <div class="flex justify-between items-center">
      <span class="text-gray-500 font-Poppins text-lg ml-2">
        {{ order.date | date: "HH:mm" }}
      </span>
      <div
        [ngClass]="{
          'bg-yellow-500': order.status === 'pendiente',
          'bg-green-500':
            order.status === 'activo' || order.status === 'completado',
          'bg-red-500': order.status === 'rechazado'
        }"
        class="text-white font-Poppins font-semibold text-sm rounded px-2 py-1 uppercase"
      >
        {{ order.status }}
      </div>
    </div>
    <div class="font-Poppins flex text-sm mt-2">
      <label class="font-semibold text-gray-800 mx-2">Dirección: </label>
      <span class="text-gray-600"
        >{{ this.order.user.direction }} ||
        {{ this.order.user.extraInfo }}</span
      >
    </div>
    <div
      class="font-Poppins flex mt-2 items-center"
      *ngIf="this.order.time && this.order.status === 'activo'"
    >
      <label
        class="font-semibold text-sm text-white px-2 py-1 bg-red-500 uppercase mx-2"
        >Demora:
      </label>
      <span class="text-gray-600 text-md">{{ this.order.time }} minutos </span>
    </div>
    <div class="font-Poppins flex flex-col text-sm mt-2">
      <label class="font-semibold text-gray-800 mx-2 mb-1">Productos</label>
      <div
        class="w-10/12 py-1 font-Poppins font-semibold px-2 mx-2 bg-green-400 rounded text-white mb-2"
        *ngFor="let product of order.products"
      >
        {{ product.name }}
      </div>
    </div>
    <span
      *ngIf="this.order.status === 'pendiente'"
      class="text-sm mx-2 w-full text-red-500 font-Poppins"
      >*Al parecer este pedido todavia no ha sido aprobado*</span
    >
  </div>
</div>
