<header>
  <div class="w-full bg-black h-20 flex items-center justify-between px-4">
    <div class="text-white sm:hidden relative">
      <div
        class="w-6 h-6 bg-green-600 cartTag absolute flex flex-col justify-center items-center"
      >
        <span class="text-white text-xs font-bold">2</span>
      </div>
      <fa-icon [icon]="faShoppingCart" class="text-3xl"></fa-icon>
    </div>
    <div class="pl-4">
      <img class="w-12" src="../../../assets/brand.png" alt="" />
    </div>
    <div class="text-white sm:hidden cursor-pointer">
      <fa-icon
        id="hamburgerMenu"
        (click)="openMenu()"
        class="text-3xl block"
        [icon]="faBars"
      ></fa-icon>
      <fa-icon
        id="crossMenu"
        (click)="openMenu()"
        class="text-3xl hidden"
        [icon]="faTimes"
      ></fa-icon>
    </div>

    <ul class="text-white hidden sm:flex items-center">
      <li
        class="px-4 focus:outline-none cursor-pointer font-Poppins text-lg"
        routerLinkActive="text-primary font-semibold"
        routerLink="/home"
      >
        Inicio
      </li>
      <li
        class="px-4 focus:outline-none cursor-pointer font-Poppins font-light text-lg"
        routerLinkActive="text-primary font-semibold"
        routerLink="/menu"
      >
        Menu
      </li>
      <li
        class="px-4 focus:outline-none cursor-pointer font-Poppins font-light text-lg"
        routerLinkActive="text-primary font-semibold"
        routerLink="/contact"
      >
        Contacto
      </li>
      <div class="text-white px-4 cursor-pointer relative">
        <div
          class="w-5 h-5 bg-green-600 cartTaglg absolute flex flex-col justify-center items-center"
        >
          <span class="text-white text-xs font-bold">1</span>
        </div>
        <fa-icon [icon]="faShoppingCart" class="text-xl"></fa-icon>
      </div>
      <div class="cursor-pointer text-white px-4">
        <fa-icon class="text-xl" [icon]="faUser"></fa-icon>
      </div>
    </ul>
  </div>
  <div
    id="mobileMenu"
    class="bg-black w-full h-auto absolute z-30 hidden slide-in-top"
  >
    <ul
      class="px-4 text-xl flex flex-col text-white font-Poppins justify-center items-start cursor-pointer"
    >
      <li
        class="outline-none my-px"
        routerLinkActive="text-primary font-semibold"
        routerLink="/home"
      >
        <fa-icon class="text-lg pr-2" [icon]="faHome"></fa-icon>
        Inicio
      </li>
      <li
        class="outline-none my-px"
        routerLinkActive="text-primary font-semibold"
        routerLink="/menu"
      >
        <fa-icon class="text-lg pr-2" [icon]="faPizzaSlice"></fa-icon>
        Menu
      </li>
      <li
        class="outline-none mt-px pb-3"
        routerLinkActive="text-primary font-semibold"
        routerLink="/contact"
      >
        <fa-icon class="text-lg pr-2" [icon]="faAddressCard"></fa-icon>
        Contacto
      </li>
    </ul>
  </div>
</header>
