<div class="h-screen w-screen flex justify-center lg:justify-start">
  <div
    class="cursor-pointer absolute adjustBackHome flex z-50 bg-black rounded-full px-4 py-3 focus:outline-none"
    routerLink="/home"
  >
    <fa-icon class="highlightColor" [icon]="faHome"></fa-icon>
    <span class="colorText font-Poppins ml-2 hidden lg:block"
      >Volver a inicio</span
    >
  </div>
  <div id="map" class="w-full lg:w-1/2 h-full fixed lg:static"></div>
  <div
    class="w-11/12 h-85 mt-16 lg:h-full lg:my-0 rounded-lg lg:rounded-none lg:w-1/2 bg-black z-50"
  >
    <div class="w-full h-full flex flex-col items-center">
      <img src="../../assets/Logo.png" class="w-64 lg:w-80" alt="" />
      <div class="w-5/6 lg:w-80 contactInfo rounded-md mt-12 px-2 lg:px-4 py-4">
        <h3 class="font-Poppins uppercase highlightColor text-base lg:text-lg">
          Contacto:
        </h3>
        <ul class="font-Poppins colorText flex text-sm lg:text-base">
          <a href="tel:4282-3490">4282-3490</a>
          <a href="tel:4282-0619">/0619</a>
          <a href="tel:4282-2679">/2679</a>
          <a href="tel:4282-3114">/3114</a>
        </ul>
        <h3
          class="font-Poppins uppercase highlightColor text-base lg:text-lg mt-4"
        >
          Horarios:
        </h3>
        <span class="font-Poppins colorText flex text-sm lg:text-base">
          Lunes a domingos de 19:00 a 00:00 hs
        </span>
        <h3
          class="font-Poppins uppercase highlightColor text-base lg:text-lg mt-4"
        >
          Ubicación:
        </h3>
        <span class="font-Poppins colorText flex text-sm lg:text-base">
          Av.Gral Eustaquio Frias, 339 entre Colombres y Garona
        </span>
      </div>
    </div>
  </div>
</div>
