.grayScale {
  filter: grayscale(50%);
}

.contactInfo {
  background-color: #2d2d2dcf;
}
.colorText {
  color: #848484;
}
.highlightColor {
  color: #d8d7d7;
}
.adjustBackHome {
  left: 20px;
  top: 10px;
}
