<app-header></app-header>
<div
  class="w-full flex items-center shadow-md mt-20 py-2 justify-between lg:hidden"
>
  <div class="flex items-center w-8/12 lg:mt-0">
    <h3 class="font-Poppins font-semibold px-2 text-lg text-gray-700">
      Filtros
    </h3>
    <div class="pr-2">
      <fa-icon
        class="text-gray-700 cursor-pointer"
        [icon]="faAngleDownIcon"
        (click)="openFilters()"
      ></fa-icon>
    </div>
    <div class="border border-gray-700 mt h-5"></div>
    <div class="font-Poppins font-medium px-2 resultText">
      <span class="text-xs w-2/12">{{ this.products.length }} resultados</span>
    </div>
  </div>
  <div class="flex items-center justify-evenly">
    <input
      class="text-sm border-b rounded w-8/12 px-2 text-gray-700 leading-tight focus:outline-none input"
      type="text"
      placeholder="Buscar..."
    />
    <fa-icon class="text-gray-700" [icon]="faSearch"></fa-icon>
  </div>
</div>

<div class="w-full lg:flex lg:mt-20">
  <div
    #filters
    class="mx-2 my-1 absolute w-full h-70 hidden lg:static lg:flex lg:w-2/6 justify-center z-40"
  >
    <div
      class="xl:w-5/12 bg-white shadow-xl w-10/12 flex flex-col px-5 py-5 my-4"
    >
      <span class="font-Poppins font-semibold text-xl text-gray-800"
        >Filtros</span
      >
      <span class="text-xs resultText font-Poppins font-medium"
        >{{ this.products.length }} resultados</span
      >

      <ul class="text-sm">
        <div class="flex items-center my-1">
          <div #icon1 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>

          <span
            class="cursor-pointer"
            #lessprice
            (click)="clickedTag(lessprice, icon1)"
            >Menor precio</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon2 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span
            class="cursor-pointer"
            #maxprice
            (click)="clickedTag(maxprice, icon2)"
            >Mayor precio</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon4 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span
            class="cursor-pointer"
            #icecream
            (click)="clickedTag(icecream, icon4)"
            >Helados</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon5 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span
            class="cursor-pointer"
            #empanadas
            (click)="clickedTag(empanadas, icon5)"
            >Empanadas</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon6 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span
            class="cursor-pointer"
            #calzones
            (click)="clickedTag(calzones, icon6)"
            >Calzones</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon7 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span class="cursor-pointer" #pizza (click)="clickedTag(pizza, icon7)"
            >Pizzas</span
          >
        </div>
      </ul>
    </div>
  </div>
  <div class="w-full lg:w-4/6">
    <div class="md:w-11/12">
      <input
        type="text"
        class="input focus:outline-none hidden xl:w-1/2 lg:w-9/12 lg:block searchBorder rounded-lg px-2 py-2 mt-4"
        placeholder="Busca una pizza"
      />
    </div>
    <div *ngIf="this.productsFiltered.length > 0">
      <app-products
        [products]="productsFiltered"
        class="flex flex-col items-center md:w-11/12 w-full lg:items-start"
      ></app-products>
    </div>
    <div *ngIf="this.productsFiltered.length === 0">
      <app-products
        [products]="products"
        class="flex flex-col items-center md:w-11/12 w-full lg:items-start"
      ></app-products>
    </div>
  </div>
</div>
