<div class="absolute w-full h-screen top-0 hidden" #alertContainer>
  <div class="bg-black z-40 opacity-50 h-full absolute w-full"></div>
  <div
    class="absolute z-50 flex justify-center w-full mt-4"
    *ngIf="this.productSelected"
  >
    <div
      class="relative max-w-xl w-11/12 md:w-5/12 bg-white rounded-lg px-4 py-6 scale-in-center"
    >
      <div
        *ngIf="this.productSelected.type === 'docena' && this.maxSelection"
        class="text-xs text-red-600"
      >
        ¡Solo podes comprar hasta 12 empanadas!
      </div>
      <div class="flex flex-col w-full font-Poppins">
        <span *ngIf="!this.betweenHour" class="text-red-500 font-Poppins"
          >*Actualmente el local esta cerrado*</span
        >
        <div class="flex w-full justify-between">
          <div>
            <span class="text-gray-900">{{ productSelected.name }}</span>
            <span
              *ngIf="this.productSelected.type === 'docena'"
              class="text-gray-600 ml-2 text-xs"
              >Te faltan {{ 12 - this.counter }}
            </span>
          </div>
          <span class="text-gray-900">${{ productSelected.price }}</span>
        </div>
      </div>
      <div class="border border-gray-400 w-10/12"></div>
      <p class="text-xs w-10/12 text-gray-700 font-sans mt-2">
        {{ productSelected.description }}
      </p>
      <div
        class="w-10/12 h-56 flex flex-col flex-wrap"
        *ngIf="this.productSelected.type === 'docena'"
      >
        <div class="w-1/2" *ngFor="let e of this.empanadasArray">
          <div class="flex mt-2" *ngIf="e.available">
            <select
              class="selectEmpanadas"
              (click)="quantityEmpanadas(select, label)"
              #select
            >
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <label #label class="text-xs ml-2">{{ e.name }}</label>
          </div>
        </div>
      </div>
      <div
        class="w-10/12 h-70 flex flex-col flex-wrap"
        *ngIf="
          this.productSelected.type === '1kg' ||
          this.productSelected.type === '1/2kg' ||
          this.productSelected.type === '1/4kg'
        "
      >
        <div class="w-1/2" *ngFor="let e of this.iceCreamArray">
          <div class="flex mt-2" *ngIf="e.available">
            <input
              [disabled]="
                (!this.availableToBuy && this.counter > 0) ||
                (!input.checked && this.maxSelection)
              "
              #input
              class="iceCreamCheck"
              type="checkbox"
              (click)="quantityIceCream(input, labelIceCream)"
            />

            <label #labelIceCream class="text-xs ml-2">{{ e.name }}</label>
          </div>
        </div>
      </div>
      <div class="justify-between flex w-full mt-8">
        <div
          class="flex"
          *ngIf="
            this.productSelected.type === 'calzon' ||
            this.productSelected.type === 'pizza' ||
            this.productSelected.type === 'empanada'
          "
        >
          <fa-icon
            (click)="changeQuantity('minus')"
            class="text-2xl text-green-500 cursor-pointer"
            [icon]="faMinusSquare"
          ></fa-icon>
          <input
            (change)="inputChange()"
            [(ngModel)]="quantityProduct"
            class="w-12 text-center focus:outline-none"
            type="number"
            value="1"
          />
          <fa-icon
            (click)="changeQuantity('sum')"
            class="text-2xl text-green-500 cursor-pointer"
            [icon]="faPlusSquare"
          ></fa-icon>
        </div>
        <button
          *ngIf="this.productSelected.type !== 'docena'"
          [ngClass]="{
            'opacity-50': !this.availableToBuy || !this.betweenHour
          }"
          [disabled]="!this.availableToBuy || !this.betweenHour"
          (click)="addToCart(productSelected)"
          class="px-2 py-1 bg-red-500 rounded-lg text-white font-Poppins font-semibold focus:outline-none"
        >
          Agregar al pedido
        </button>
        <button
          *ngIf="this.productSelected.type === 'docena'"
          [ngClass]="{
            'opacity-50':
              !this.availableToBuy || this.maxSelection || !this.betweenHour
          }"
          [disabled]="
            !this.availableToBuy || this.maxSelection || !this.betweenHour
          "
          (click)="addToCart(productSelected)"
          class="px-2 py-1 bg-red-500 rounded-lg text-white font-Poppins font-semibold focus:outline-none"
        >
          Agregar al pedido
        </button>
      </div>
      <fa-icon
        (click)="closeMenu()"
        class="absolute top-0 right-0 mx-2 my-1 text-gray-800 cursor-pointer"
        [icon]="faTimesCircle"
      ></fa-icon>
    </div>
  </div>
</div>
<!--Succeded cart-->
<div class="absolute w-full h-screen top-0 hidden" #cartSucceded>
  <div class="absolute z-50 flex justify-center w-full mt-8">
    <div
      class="relative max-w-xl w-11/12 md:w-5/12 bg-green-400 rounded-sm px-4 py-5 slide-in-top flex flex-col lg:flex-row items-center"
    >
      <div class="flex items-center">
        <fa-icon [icon]="faCheck" class="text-white text-lg"></fa-icon>
        <span class="font-Poppins text-white font-normal text-base ml-4">
          El producto fue agregado al carrito
        </span>
      </div>

      <span
        routerLink="/cart/step/0"
        class="font-Poppins text-white font-light ml-2 underline focus:outline-none cursor-pointer"
        >Ver productos</span
      >
    </div>
  </div>
</div>
<app-header></app-header>
<div
  *ngIf="!this.products"
  #loader
  class="h-screen -mt-32 items-center w-full flex justify-center"
>
  <svg
    class="spinner"
    width="65px"
    height="65px"
    viewBox="0 0 66 66"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      class="path"
      fill="none"
      stroke-width="6"
      stroke-linecap="round"
      cx="33"
      cy="33"
      r="30"
    ></circle>
  </svg>
</div>
<div
  class="w-full flex items-center shadow-md mt-20 py-2 justify-between lg:hidden"
  *ngIf="this.products"
>
  <div class="flex items-center w-8/12 lg:mt-0">
    <h3
      class="font-Poppins font-semibold text-sm px-2 md:text-lg text-gray-700"
    >
      Filtros
    </h3>
    <div class="pr-2">
      <fa-icon
        class="text-gray-700 cursor-pointer"
        [icon]="faAngleDownIcon"
        (click)="openFilters()"
      ></fa-icon>
    </div>
    <div class="border border-gray-700 mt h-5"></div>
    <div class="font-Poppins font-medium px-2 resultText text-center">
      <span class="text-xs w-2/12">{{ this.products.length }} resultados</span>
    </div>
  </div>
  <div class="flex items-center justify-evenly">
    <input
      [(ngModel)]="filterProduct"
      class="text-sm border-b rounded w-8/12 px-2 text-gray-700 leading-tight focus:outline-none input"
      type="text"
      placeholder="Buscar..."
    />
    <fa-icon class="text-gray-700" [icon]="faSearch"></fa-icon>
  </div>
</div>

<div class="w-full lg:flex lg:mt-20" *ngIf="this.products">
  <div
    #filters
    class="lg:mx-2 my-1 absolute w-full h-70 hidden lg:static lg:flex lg:w-2/6 justify-center z-30 slide-in-blurred-top"
  >
    <div
      class="xl:w-5/12 bg-white shadow-xl w-10/12 flex flex-col px-5 py-5 my-4"
    >
      <span class="font-Poppins font-semibold text-xl text-gray-800"
        >Filtros</span
      >
      <span class="text-xs resultText font-Poppins font-medium"
        >{{ this.products.length }} resultados</span
      >

      <ul class="text-sm">
        <div class="flex items-center my-1">
          <div #icon1 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>

          <span
            class="cursor-pointer"
            #lessprice
            (click)="clickedTag(lessprice, icon1)"
            >Menor precio</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon2 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span
            class="cursor-pointer"
            #maxprice
            (click)="clickedTag(maxprice, icon2)"
            >Mayor precio</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon4 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span
            class="cursor-pointer"
            #icecream
            (click)="clickedTag(icecream, icon4)"
            >Helado</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon5 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span
            class="cursor-pointer"
            #empanadas
            (click)="clickedTag(empanadas, icon5)"
            >Empanada</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon6 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span
            class="cursor-pointer"
            #calzones
            (click)="clickedTag(calzones, icon6)"
            >Calzon</span
          >
        </div>
        <div class="flex items-center my-1">
          <div #icon7 class="text-gray-400 px-1 tagsText">
            <fa-icon [icon]="faCircle"></fa-icon>
          </div>
          <span class="cursor-pointer" #pizza (click)="clickedTag(pizza, icon7)"
            >Pizza</span
          >
        </div>
      </ul>
    </div>
  </div>
  <div class="w-full lg:w-4/6">
    <div class="md:w-11/12 max-w-2xl">
      <input
        [(ngModel)]="filterProduct"
        name="filter"
        type="text"
        class="input focus:outline-none hidden w-full lg:block searchBorder rounded-lg px-2 py-2 mt-4"
        placeholder="Busca un producto"
      />
    </div>
    <div *ngIf="this.productsFiltered.length > 0">
      <app-products
        (clickedEvent)="alertMenu($event)"
        [filterProduct]="filterProduct"
        [products]="productsFiltered"
        class="flex flex-col items-center md:w-11/12 w-full lg:items-start changeHeight"
      ></app-products>
    </div>
    <div *ngIf="this.productsFiltered.length === 0">
      <app-products
        (clickedEvent)="alertMenu($event)"
        [filterProduct]="filterProduct"
        [products]="products"
        class="flex flex-col items-center md:w-11/12 w-full lg:items-start changeHeight"
      ></app-products>
    </div>
  </div>
</div>
