.resultText {
  color: #bababa;
}
.input::placeholder {
  color: #4a5568;
}
.gridLayout {
  grid-template-columns: 30% 60% 10%;
  justify-items: center;
}
.filtersSquare {
  width: 280px;
}
.tagsText {
  font-size: 0.6rem;
}
.adjustHeight {
  height: auto;
}
.searchBorder {
  border: 0.5px solid var(--unnamed-color-bababa);
  border: 0.5px solid #bababa;
  opacity: 1;
}
