.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.resultText {
  color: #bababa;
}
.input::placeholder {
  color: #4a5568;
}
.gridLayout {
  grid-template-columns: 30% 60% 10%;
  justify-items: center;
}
.filtersSquare {
  width: 280px;
}
.tagsText {
  font-size: 0.6rem;
}
.adjustHeight {
  height: auto;
}
.searchBorder {
  border: 0.5px solid var(--unnamed-color-bababa);
  border: 0.5px solid #bababa;
  opacity: 1;
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
