<div
  class="w-full flex flex-col items-center justify-center mt-20"
  *ngIf="this.orders.length <= 0"
>
  <img
    src="../../../assets/undraw_online_groceries_a02y.svg"
    class="w-80"
    alt=""
  />
  <h3 class="md:text-2xl text-gray-500 font-Poppins font-light mt-8 text-lg">
    ¡Al parecer no se ha cargado ningun pedido!
  </h3>
</div>

<div class="w-full flex justify-center">
  <div #alert class="absolute w-full h-screen top-0 hidden">
    <div class="bg-black z-40 opacity-50 h-full absolute w-full"></div>
    <div
      class="z-50 absolute w-full flex justify-center"
      *ngIf="this.actualProduct"
    >
      <div
        class="w-11/12 lg:w-1/2 max-w-2xl rounded bg-white mt-8 px-4 py-4 relative scale-in-center"
      >
        <div class="w-full justify-end flex">
          <fa-icon
            class="cursor-pointer"
            (click)="this.alertContainer.nativeElement.classList.add('hidden')"
            [icon]="faTimesCircle"
          ></fa-icon>
        </div>
        <div class="flex flex-col font-Poppins text-lg mb-2">
          <span class="text-gray-900 uppercase">Cliente</span>
          <div class="flex py-px text-gray-700">
            <span>{{ actualProduct.user.name }} |</span>
            <span class="ml-2">{{ actualProduct.user.phone }}</span>
          </div>
        </div>
        <div class="flex flex-col font-Poppins text-lg mb-2">
          <span class="text-gray-900 uppercase">Dirección</span>
          <span class="text-gray-700"
            >{{ actualProduct.user.direction }}|
            {{ actualProduct.user.extraInfo }}
          </span>
        </div>
        <div>
          <span class="text-gray-900 uppercase">Productos</span>
          <div
            *ngFor="let p of this.actualProduct.products"
            class="bg-gray-200 rounded-lg px-2 py-2 my-3"
          >
            <span class="text-gray-700">{{ p.name }}</span>
            <p *ngIf="!this.p.flavors">{{ p.description }}</p>
            <div
              *ngIf="this.p.flavors"
              class="flex text-base text-gray-800 mt-2 items-center"
            >
              <p
                class="hidden md:block mr-2 bg-green-500 text-white px-2 font-Poppins font-semibold h-6"
              >
                Sabores:
              </p>
              <p class="text-xs">{{ this.p.flavors }}</p>
            </div>
          </div>
        </div>
        <div>
          <select
            *ngIf="actualProduct.status === 'pendiente'"
            class="px-2 py-1 mt-4"
            [(ngModel)]="delayTime"
          >
            <option value="20">20 minutos</option>
            <option value="45">45 minutos</option>
            <option value="60">60 minutos</option>
          </select>
          <span
            class="px-2 py-1 rounded-md bg-yellow-500 text-white font-Poppins font-semibold"
            *ngIf="
              this.actualProduct.time && this.actualProduct.status === 'activo'
            "
            >Demora: {{ this.actualProduct.time }} minutos</span
          >
        </div>
        <div class="line w-full mt-4 mb-2"></div>
        <div class="w-full text-2xl font-Poppins">
          <span class="font-bold text-gray-800">Total: </span>
          <span> ${{ actualProduct.total }}</span>
        </div>
        <div class="w-full flex justify-end font-Poppins text-white">
          <button
            *ngIf="this.actualProduct.status === 'pendiente'"
            (click)="confirmOrder(false, this.actualProduct)"
            class="px-2 py-2 bg-red-500 rounded font-semibold focus:outline-none"
          >
            Cancelar pedido
          </button>
          <button
            *ngIf="this.actualProduct.status === 'pendiente'"
            (click)="confirmOrder()"
            class="ml-3 px-2 py-2 bg-green-500 rounded font-semibold focus:outline-none"
          >
            Aceptar
          </button>
          <button
            *ngIf="this.actualProduct.status === 'activo'"
            (click)="completeOrder(actualProduct)"
            class="ml-3 px-2 py-2 bg-green-500 rounded font-semibold focus:outline-none"
          >
            Completado
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="w-10/12 max-w-2xl flex flex-col mt-12">
    <div
      class="w-full flex flex-col items-center mt-4"
      *ngFor="let order of orders"
    >
      <div
        (click)="openAlert(order)"
        class="px-4 py-4 rounded shadow-lg w-full borderOrder relative bigger cursor-pointer"
      >
        <div
          *ngIf="this.order.status === 'pendiente'"
          class="new-order absolute w-6 bg-green-400 rounded-full h-6"
        ></div>
        <div class="w-full flex items-center justify-between">
          <div class="flex items-center">
            <span class="text-gray-700 text-lg font-Poppins font-medium">{{
              this.order.user.name | uppercase
            }}</span>
            <p class="text-sm text-gray-500 mt-1 mx-4 font-Poppins lowercase">
              {{ this.order.date | date: "HH:mm" }}
            </p>
          </div>
          <div>
            <div
              *ngIf="this.order.status.toLowerCase() === 'pendiente'"
              class="px-2 bg-yellow-500 text-xs font-Poppins font-semibold rounded py-1 mt-2 text-white"
            >
              {{ this.order.status | uppercase }}
            </div>
            <div
              *ngIf="this.order.status.toLowerCase() === 'activo'"
              class="px-2 bg-green-500 text-xs font-Poppins text-center font-semibold rounded py-1 mt-2 text-white"
            >
              {{ this.order.status | uppercase }}
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <p class="text-sm text-gray-500 font-Poppins capitalize">
            {{ this.order.user.direction }} | {{ this.order.user.extraInfo }}
          </p>
          <div
            *ngIf="this.order.status.toLowerCase() === 'activo'"
            class="px-2 bg-yellow-500 text-xs font-Poppins font-semibold rounded py-1 mt-2 text-white hidden sm:block"
          >
            {{ this.order.time }} minutos
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
