<app-admin></app-admin>
<div #container>
  <div class="flex w-full lg:w-3/5 lg:mx-auto flex-col lg:max-w-4xl mt-4">
    <div class="flex justify-between items-center">
      <h2 class="text-gray-800 font-semibold font-Poppins text-2xl px-2">
        Pizzas
      </h2>
      <button
        (click)="addProduct('pizza')"
        class="text-white bg-green-600 rounded-md px-2 py-1 font-semibold text-xs mr-2 focus:outline-none"
      >
        Añadir
        <fa-icon [icon]="faPlusSquare" class="text-white"></fa-icon>
      </button>
    </div>

    <div class="w-full bg-gray-500 line-height"></div>
    <div *ngFor="let product of this.products">
      <div
        #productsContainer
        class="w-full mt-8"
        *ngIf="this.product.type === 'pizza'"
      >
        <div
          class="flex mx-auto w-11/12 lg:w-3/4 bg-white rounded-lg shadow-md px-4 py-5 xl:mx-auto mb-4"
        >
          <div id="info" class="flex items-center w-full justify-between">
            <h2 class="font-Poppins font-medium text-gray-800 text-lg px-2">
              {{ product.name }}
            </h2>
            <div class="flex items-center">
              <button
                (click)="updateProduct(this.product.type, product)"
                class="text-white bg-blue-500 rounded-md px-2 py-1 font-semibold text-xs mr-2 focus:outline-none"
              >
                Actualizar
                <fa-icon [icon]="faEdit" class="text-white"></fa-icon>
              </button>
              <button
                (click)="deleteAProduct(product._id)"
                class="text-white bg-red-600 rounded-md px-2 py-1 font-semibold text-xs focus:outline-none"
              >
                Eliminar
                <fa-icon [icon]="faMinusCircle" class="text-white"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <h2 class="text-gray-800 font-semibold font-Poppins text-2xl px-2">
        Empanadas
      </h2>

      <button
        (click)="addProduct('empanada')"
        class="text-white bg-green-600 rounded-md px-2 py-1 font-semibold text-xs mr-2 focus:outline-none"
      >
        Añadir
        <fa-icon [icon]="faPlusSquare" class="text-white"></fa-icon>
      </button>
    </div>

    <div class="w-full bg-gray-500 line-height"></div>
    <div *ngFor="let product of this.products">
      <div
        #productsContainer
        class="w-full mt-8"
        *ngIf="
          this.product.type === 'empanada' || this.product.type === 'docena'
        "
      >
        <div
          class="flex mx-auto w-11/12 lg:w-3/4 bg-white rounded-lg shadow-md px-4 py-5 xl:mx-auto mb-4"
        >
          <div id="info" class="flex items-center w-full justify-between">
            <h2 class="font-Poppins font-medium text-gray-800 text-lg px-2">
              {{ product.name }}
            </h2>
            <div class="flex items-center">
              <button
                (click)="updateProduct(this.product.type, product)"
                class="text-white bg-blue-500 rounded-md px-2 py-1 font-semibold text-xs mr-2 focus:outline-none"
              >
                Actualizar
                <fa-icon [icon]="faEdit" class="text-white"></fa-icon>
              </button>
              <button
                (click)="deleteAProduct(product._id)"
                class="text-white bg-red-600 rounded-md px-2 py-1 font-semibold text-xs focus:outline-none"
              >
                Eliminar
                <fa-icon [icon]="faMinusCircle" class="text-white"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <h2 class="text-gray-800 font-semibold font-Poppins text-2xl px-2">
        Helados
      </h2>

      <button
        (click)="addProduct('helado')"
        class="text-white bg-green-600 rounded-md px-2 py-1 font-semibold text-xs mr-2 focus:outline-none"
      >
        Añadir
        <fa-icon [icon]="faPlusSquare" class="text-white"></fa-icon>
      </button>
    </div>

    <div class="w-full bg-gray-500 line-height"></div>
    <div *ngFor="let product of this.products">
      <div
        #productsContainer
        class="w-full mt-8"
        *ngIf="
          this.product.type === '1kg' ||
          this.product.type === '1/2kg' ||
          this.product.type === '1/4kg'
        "
      >
        <div
          *ngIf="this.product.type !== 'helado'"
          class="cursor-pointer flex mx-auto w-11/12 lg:w-3/4 bg-white rounded-lg shadow-md px-4 py-5 xl:mx-auto mb-4"
        >
          <div id="info" class="flex items-center w-full justify-between">
            <h2 class="font-Poppins font-medium text-gray-800 text-lg px-2">
              {{ product.name }}
            </h2>
            <div class="flex items-center">
              <button
                (click)="updateProduct(this.product.type, product)"
                class="text-white bg-blue-500 rounded-md px-2 py-1 font-semibold text-xs mr-2 focus:outline-none"
              >
                Actualizar
                <fa-icon [icon]="faEdit" class="text-white"></fa-icon>
              </button>
              <button
                (click)="deleteAProduct(product._id)"
                class="text-white bg-red-600 rounded-md px-2 py-1 font-semibold text-xs focus:outline-none"
              >
                Eliminar
                <fa-icon [icon]="faMinusCircle" class="text-white"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div
          *ngFor="let h of this.flavorsProducts"
          class="cursor-pointer flex mx-auto w-4/5 lg:w-3/5 bg-white rounded-lg shadow-md px-4 py-5 xl:mx-auto mb-4"
        >
          <div id="info" class="flex items-center w-full justify-between">
            <h2 class="font-Poppins font-medium text-gray-800 text-lg px-2">
              {{ h.name }}
            </h2>
            <div class="flex items-center">
              <button
                (click)="updateProduct(this.h.type, h)"
                class="text-white bg-blue-500 rounded-md px-2 py-1 font-semibold text-xs mr-2 focus:outline-none"
              >
                Actualizar
                <fa-icon [icon]="faEdit" class="text-white"></fa-icon>
              </button>
              <button
                (click)="deleteAProduct(h._id)"
                class="text-white bg-red-600 rounded-md px-2 py-1 font-semibold text-xs focus:outline-none"
              >
                Eliminar
                <fa-icon [icon]="faMinusCircle" class="text-white"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <h2 class="text-gray-800 font-semibold font-Poppins text-2xl px-2">
        Calzones
      </h2>

      <button
        (click)="addProduct('calzon')"
        class="text-white bg-green-600 rounded-md px-2 py-1 font-semibold text-xs mr-2 focus:outline-none"
      >
        Añadir
        <fa-icon [icon]="faPlusSquare" class="text-white"></fa-icon>
      </button>
    </div>

    <div class="w-full bg-gray-500 line-height"></div>
    <div *ngFor="let product of this.products">
      <div
        #productsContainer
        class="w-full mt-8"
        *ngIf="this.product.type === 'calzon'"
      >
        <div
          class="flex mx-auto w-11/12 lg:w-3/4 bg-white rounded-lg shadow-md px-4 py-5 xl:mx-auto mb-4"
        >
          <div id="info" class="flex items-center w-full justify-between">
            <h2 class="font-Poppins font-medium text-gray-800 text-lg px-2">
              {{ product.name }}
            </h2>
            <div class="flex items-center">
              <button
                (click)="updateProduct(this.product.type, product)"
                class="text-white bg-blue-500 rounded-md px-2 py-1 font-semibold text-xs mr-2 focus:outline-none"
              >
                Actualizar
                <fa-icon [icon]="faEdit" class="text-white"></fa-icon>
              </button>
              <button
                (click)="deleteAProduct(product._id)"
                class="text-white bg-red-600 rounded-md px-2 py-1 font-semibold text-xs focus:outline-none"
              >
                Eliminar
                <fa-icon [icon]="faMinusCircle" class="text-white"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
