<app-header></app-header>
<div #loading class="h-screen w-screen absolute hidden">
  <div class="h-full w-full absolute flex justify-center items-center z-50">
    <div class="loadingio-spinner-rolling-dhecfw4wr9b" *ngIf="!registerLoading">
      <div class="ldio-umsaczpvz0f">
        <div></div>
      </div>
    </div>

    <svg
      *ngIf="registerLoading && !registerError"
      class="checkmark absolute"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 52 52"
    >
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
      <path
        class="checkmark__check"
        fill="none"
        d="M14.1 27.2l7.1 7.2 16.7-16.8"
      />
    </svg>
    <svg
      id="cross"
      *ngIf="registerError"
      class="absolute"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 130.2 130.2"
    >
      <circle
        class="path circle"
        fill="none"
        stroke="#D06079"
        stroke-width="6"
        stroke-miterlimit="10"
        cx="65.1"
        cy="65.1"
        r="62.1"
      />
      <line
        class="path line"
        fill="none"
        stroke="#D06079"
        stroke-width="6"
        stroke-linecap="round"
        stroke-miterlimit="10"
        x1="34.4"
        y1="37.9"
        x2="95.8"
        y2="92.3"
      />
      <line
        class="path line"
        fill="none"
        stroke="#D06079"
        stroke-width="6"
        stroke-linecap="round"
        stroke-miterlimit="10"
        x1="95.8"
        y1="38"
        x2="34.4"
        y2="92.2"
      />
    </svg>
  </div>

  <div class="bg-black opacity-75 h-screen w-screen absolute z-40"></div>
</div>
<div
  class="w-full flex justify-center items-center flex-col md:flex-row md:my-0 md:h-screen"
>
  <img
    class="imgSize rounded-lg bg-gray-700 h-80 object-cover hidden md:block z-20 fade-in-fwd"
    src="../../assets/login-pizza.jpg"
    alt=""
  />

  <div
    class="flex flex-col -my-12 md:my-40 z-30 w-10/12 md:w-auto mt-40 md:h-auto h-screen fade-in-fwd"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <div class="bg-white shadow-md rounded py-6 px-8 h-auto md:-ml-12">
        <div class="mb-5">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Email</label
          >
          <input
            [ngClass]="{
              'border-red-500':
                this.form.get('email').touched && this.form.get('email').invalid
            }"
            formControlName="email"
            type="email"
            placeholder="Escribe tu email "
            class="text-sm text-gray-700 focus:outline-none w-full shadow border rounded py-2 px-3 focus:shadow-outlineGreen"
          />
          <p
            class="text-red-500 text-xs italic mt-2"
            *ngIf="
              this.form.get('email').touched && this.form.get('email').invalid
            "
          >
            Escribí un email valido
          </p>
        </div>
        <div class="mb-5">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Contraseña</label
          >
          <input
            [ngClass]="{
              'border-red-500':
                this.form.get('password').touched &&
                this.form.get('password').invalid
            }"
            formControlName="password"
            type="password"
            placeholder="Escribe tu contraseña "
            class="text-sm text-gray-700 focus:outline-none w-full shadow border rounded py-2 px-3 focus:shadow-outlineGreen"
          />
          <p
            class="text-red-500 text-xs italic mt-2"
            *ngIf="
              this.form.get('password').touched &&
              this.form.get('password').invalid
            "
          >
            Escribí una contraseña valida
          </p>
        </div>

        <button
          [disabled]="!this.form.valid"
          [ngClass]="{ 'opacity-50': !this.form.valid }"
          class="focus:outline-none w-full rounded-md font-semibold text-center bg-green-500 text-white py-2"
          type="submit"
        >
          Iniciar sesión
        </button>
      </div>
    </form>
    <div
      class="flex bg-white shadow-md rounded justify-center md:py-6 py-4 px-8 h-auto md:-ml-12 mt-4"
    >
      <span class="text-gray-600 px-2 hidden md:block"
        >¿No tenes una cuenta?</span
      >
      <a class="text-green-500 font-bold md:font-normal" routerLink="/register"
        >Regístrate</a
      >
    </div>
  </div>
  <img
    class="block absolute h-full w-full object-cover grayScale"
    src="../../../assets/hemant-latawa-IfQlwNqJqV8-unsplash.jpg"
    alt=""
  />
</div>
