<div class="w-full h-full flex justify-center items-center">
  <img
    class="imgSize rounded-lg bg-gray-700 h-80 object-cover hidden md:block"
    src="../../assets/login-pizza.jpg"
    alt=""
  />
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="bg-white shadow-md rounded py-6 px-8 my-40 h-auto md:-ml-12">
      <div class="mb-5">
        <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
        <input
          formControlName="email"
          type="email"
          placeholder="Escribe tu email "
          class="text-gray-700 focus:outline-none w-full shadow border rounded py-2 px-3 focus:shadow-outline"
        />
        <p
          class="text-red-500 text-xs italic mt-2"
          *ngIf="
            this.form.get('email').touched && this.form.get('email').invalid
          "
        >
          Escribi un email validó
        </p>
      </div>
      <div class="mb-5">
        <label class="block text-gray-700 text-sm font-bold mb-2"
          >Contraseña</label
        >
        <input
          formControlName="password"
          type="password"
          placeholder="Escribe tu contraseña "
          class="text-gray-700 focus:outline-none w-full shadow border rounded py-2 px-3 focus:shadow-outline"
        />
        <p
          class="text-red-500 text-xs italic mt-2"
          *ngIf="
            this.form.get('password').touched &&
            this.form.get('password').invalid
          "
        >
          Escribi una contraseña valida
        </p>
      </div>

      <button
        [disabled]="!this.form.valid"
        [ngClass]="{ 'opacity-50': !this.form.valid }"
        class="focus:outline-none w-full rounded-md font-semibold text-center bg-blue-500 text-white py-2"
        type="submit"
      >
        Iniciar sesion
      </button>
    </div>
  </form>
</div>
