<div class="flex flex-col justify-center items-center w-full">
  <div class="flex w-11/12 shadow-lg h-auto rounded-lg my-8">
    <div
      class="bg-cover w-4/12 bg-gray-800 rounded-l-lg rounded"
      style="background-image: url(../../../assets/cheddar.jpeg);"
    ></div>
    <div id="info" class="flex flex-col items-start w-8/12">
      <h2 class="font-Poppins font-medium text-gray-700 text-lg px-2 pt-3 pb-2">
        Panceta y cheddar
      </h2>
      <div class="border border-gray-300 w-10/12 mx-2"></div>
      <p
        class="text-xs w-11/12 font-Poppins font-medium descriptionText px-2 py-2"
      >
        Salsa de tomate - muzzarella - cheddar - panceta crocante - orégano -
        aceitunas
      </p>
      <div class="mx-2 my-3 flex items-end">
        <button
          class="rounded-sm px-2 py-2 bg-green-500 text-white font-Poppins font-medium focus:outline-none"
        >
          Comprar
        </button>
        <span class="px-2 text-gray-600 text-sm font-Poppins font-light"
          >Ver detalles</span
        >
      </div>
    </div>
  </div>
</div>
