.descriptionText {
  color: #bababa;
}
.bigger {
  transition: 0.2s ease-in-out;
}
.bigger:hover {
  transform: scale(1.05);
}
.not-available {
  filter: grayscale(90%);
  opacity: 70%;
  cursor: default;
}
.positionCart {
  top: 0;
  right: 0;
  z-index: 40;
}
