<div
  class="flex xl:w-1/2 lg:w-9/12 bigger w-11/12 shadow-lg h-auto rounded-lg mt-8 mb-3 cursor-pointer"
  *ngFor="let product of products"
>
  <img
    class="w-4/12 rounded rounded-l-lg object-cover"
    src="../../assets/cheddar.jpeg"
    alt=""
  />
  <div id="info" class="flex flex-col items-start w-8/12">
    <div class="lg:flex lg:items-end">
      <h2 class="font-Poppins font-medium text-gray-700 text-lg px-2 pt-3">
        {{ product.name }}
      </h2>
      <span class="text-xs text-green-600 lg:px-1 px-2 font-Poppins font-medium"
        >Disponible</span
      >
    </div>
    <div class="border border-gray-300 w-10/12 mx-2"></div>
    <p
      class="text-xs w-11/12 font-Poppins font-medium descriptionText px-2 py-2 lg:py-4"
    >
      Salsa de tomate - muzzarella - cheddar - panceta crocante - orégano -
      aceitunas
    </p>
    <div class="mx-2 mb-2 flex items-end lg:pb-3">
      <button
        class="cursor-default rounded-sm px-2 py-1 bg-green-500 text-white font-Poppins font-semibold focus:outline-none"
      >
        <fa-icon class="text-white" [icon]="faDollarSign"></fa-icon>
        {{ product.price }}
      </button>
    </div>
  </div>
</div>
