<app-header></app-header>
<div class="w-full flex justify-center">
  <div
    class="absolute w-full max-w-sm bg-gray-100 top-0 z-50 rounded-md px-2 mt-4 slide-in-top"
  >
    <div>
      <h3 class="mb-1 text-gray-800 font-Poppins">
        Estas a punto de <strong class="text-red-500">cerrar sesion</strong>
      </h3>
      <div class="h-px bg-black"></div>
      <span class="font-Poppins text-gray-800"
        >¿Estas seguro que queres seguir?</span
      >
    </div>
    <div class="flex justify-end px-2 text-white font-Poppins mt-12 mb-4">
      <button class="px-2 py-1 bg-red-500 rounded-sm font-semibold">
        Cancelar
      </button>
      <button class="ml-8 px-2 bg-green-500 py-1 rounded-sm font-semibold">
        Aceptar
      </button>
    </div>
  </div>
</div>
<div class="relative">
  <div class="lg:mt-32 z-50">
    <div
      class="mt-20 w-full flex shadow-md lg:hidden text-xl justify-between px-4 py-3"
    >
      <div
        class="text-gray-900 focus:outline-none cursor-pointer"
        routerLink="profile"
        routerLinkActive="text-red-500"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div
        class="text-gray-900 focus:outline-none cursor-pointer"
        routerLink="update"
        routerLinkActive="text-red-500"
      >
        <fa-icon [icon]="faUserEdit"></fa-icon>
      </div>
      <div
        class="text-gray-900 focus:outline-none cursor-pointer"
        routerLink="orders"
        routerLinkActive="text-red-500"
      >
        <fa-icon [icon]="faReceipt"></fa-icon>
      </div>
      <div
        class="text-gray-900 focus:outline-none cursor-pointer"
        routerLink="history"
        routerLinkActive="text-red-500"
      >
        <fa-icon [icon]="faHistory"></fa-icon>
      </div>
      <div class="text-gray-900 cursor-pointer">
        <fa-icon [icon]="faUserMinus"></fa-icon>
      </div>
      <div class="text-gray-900 cursor-pointer">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
      </div>
    </div>
    <div class="w-full lg:w-11/12 flex justify-center mt-12 lg:mt-0">
      <div class="sidebar">
        <ul
          #desktop
          class="rounded-lg shadow-lg px-10 py-8 font-Poppins text-base hidden lg:block"
        >
          <li
            class="mt-2 focus:outline-none cursor-pointer"
            routerLink="profile"
            routerLinkActive="font-semibold"
          >
            Mis datos
          </li>
          <li
            class="mt-8 focus:outline-none cursor-pointer"
            routerLink="update"
            routerLinkActive="font-semibold"
          >
            Actualizar datos
          </li>
          <li
            class="mt-8 focus:outline-none cursor-pointer"
            routerLink="orders"
            routerLinkActive="font-semibold"
          >
            Ordenes en curso
          </li>
          <li
            class="mt-8 focus:outline-none cursor-pointer"
            routerLink="history"
            routerLinkActive="font-semibold"
          >
            Mi historial
          </li>
          <li class="mt-8 focus:outline-none cursor-pointer">
            Eliminar cuenta
          </li>
          <li
            (click)="openAlert()"
            class="mt-8 focus:outline-none cursor-pointer"
          >
            Cerrar sesion
          </li>
        </ul>
      </div>
      <div class="lg:ml-4 w-full max-w-sm lg:flex lg:justify-start">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<style>
  .slide-in-top {
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
