<app-header></app-header>
<div #alertContainer class="h-screen w-screen absolute z-50 hidden">
  <div class="w-full h-screen bg-black opacity-25"></div>
</div>
<div class="w-full mt-20">
  <div class="w-full flex justify-center">
    <div
      class="w-full flex flex-col h-32 lg:h-64 items-center justify-center absolute"
    >
      <h3
        class="max-w-lg w-full z-20 font-Poppins font-bold text-2xl lg:text-4xl text-center text-white uppercase"
      >
        Pizza in Trevi
      </h3>
      <span
        class="z-20 text-white max-w-lg xl:text-xl w-5/6 md:text-lg text-sm xl:w-2/5 md:w-1/2 text-center block"
      >
        Página oficial de Pizza in Trevi Lomas. Acá podras encontrar más
        información acerca de nosotros, nuestros horarios, menús y sitios en los
        que nos encontramos</span
      >
    </div>
  </div>
  <img
    class="changeHeight object-cover w-full grayScale"
    src="https://images.unsplash.com/photo-1571407970349-bc81e7e96d47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"
    alt=""
  />
</div>
<div class="w-full bg-black h-40">
  <div
    class="w-full lg:w-1/2 md:mx-auto flex justify-evenly items-center h-full"
  >
    <div class="flex flex-col justify-center md:w-1/5 items-center">
      <img class="w-16 md:w-20 mb-4" src="../../assets/logo1.png" alt="" />
      <a
        href="https://www.pedidosya.com.ar/restaurantes/lomas-de-zamora/pizza-in-trevi-lomas-menu"
        class="text-center px-2 py-1 w-24 text-white rounded-sm bg-red-600 focus:outline-none"
      >
        Ver más
      </a>
    </div>
    <div class="flex flex-col justify-center md:w-1/5 items-center">
      <img class="w-16 md:w-20 mb-3" src="../../assets/logo2.png" alt="" />
      <a
        href="https://www.ubereats.com/ar-en/buenos-aires/food-delivery/pizza-in-trevi-lomas/-FBVEpYPTzO67Us96n9aoQ?pl=JTdCJTIyYWRkcmVzcyUyMiUzQSUyMlBpenphJTIwaW4lMjBUcmV2aSUyMExvbWFzJTIyJTJDJTIycmVmZXJlbmNlJTIyJTNBJTIyQ2hJSmhkR2hoV1BTdkpVUnpJTndkenNTOThZJTIyJTJDJTIycmVmZXJlbmNlVHlwZSUyMiUzQSUyMmdvb2dsZV9wbGFjZXMlMjIlMkMlMjJsYXRpdHVkZSUyMiUzQS0zNC43NjE2NzM3JTJDJTIybG9uZ2l0dWRlJTIyJTNBLTU4LjQyMjYwNTUlN0Q%3D"
        class="text-center px-2 py-1 w-24 text-white rounded-sm bg-red-600 focus:outline-none"
      >
        Ver más
      </a>
    </div>
    <div class="flex flex-col justify-center md:w-1/5 items-center">
      <img class="w-16 md:w-20 mb-3" src="../../assets/logo3.png" alt="" />
      <a
        href="https://goo.gl/maps/Msbx69JWFNXtUMMu7"
        class="text-center px-2 py-1 w-24 text-white rounded-sm bg-red-600 focus:outline-none"
      >
        Ver más
      </a>
    </div>
  </div>
</div>
<div class="w-full md:h-64 h-auto bg-gray-100">
  <h1 class="text-xl text-center darkRed">Las más vendidas</h1>
  <div
    id="cards"
    class="sm:flex w-10/12 mx-auto mt-4 justify-evenly lg:justify-center sm:w-11/12"
  >
    <div
      *ngFor="let pizza of this.hotestPizzas"
      class="lg:mr-16 bigger w-full mb-8 lg:w-40 sm:w-32 mr-2 md:mr-4 lg:w-40rounded shadow-2xl h-48 flex flex-col justify-evenly items-center px-2 relative"
    >
      <img class="w-24" [src]="pizza.img" alt="" />

      <h4 class="text-gray-800 text-center">{{ pizza.name }}</h4>
      <button
        (click)="hotPizza(pizza.name)"
        class="w-10/12 px-2 py-1 text-white rounded sm:w-full bg-red-600 focus:outline-none"
      >
        Ordenar
      </button>
    </div>
  </div>
</div>
<div class="w-full">
  <div
    class="w-full flex flex-col h-32 lg:h-64 items-center justify-center absolute"
  >
    <h3
      class="max-w-lg w-1/2 sm:w-1/3 z-50 font-Poppins font-medium text-xl lg:text-4xl text-center text-white"
    >
      Nuestra variedad de helados
    </h3>
    <span
      (click)="redirectIceCream()"
      class="z-50 text-white focus:outline-none cursor-pointer underline text-xl"
      >Ver más</span
    >
  </div>
  <img
    class="changeHeight object-cover w-full grayScale"
    src="https://images.unsplash.com/photo-1560801530-34efebfecba8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
    alt=""
  />
</div>
<div class="w-full mapHeight">
  <div id="map" class="w-full h-full"></div>
</div>
<app-footer></app-footer>
