<div class="w-full">
  <div class="w-full flex justify-center">
    <h1
      class="mt-16 text-3xl md:text-5xl z-20 text-white font-Poppins font-bold uppercase absolute"
    >
      Pizza in Trevi
    </h1>

    <p
      class="xl:w-4/12 absolute mt-32 z-20 text-white w-1/2 text-center hidden md:block"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium ut
      ante ac convallis. Nunc magna massa, dignissim a hendrerit eu, laoreet et
      libero.
    </p>
    <button
      class="xl:mt-56 focus:outline-none mt-32 md:mt-56 rounded-md absolute z-20 text-white bg-red-600 px-3 py-2 font-bold uppercase"
    >
      Ordenar
    </button>
  </div>

  <div
    class="bg-cover changeHeight bg-center"
    style="
      background-image: url(https://images.unsplash.com/photo-1571407970349-bc81e7e96d47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    "
  >
    <div class="w-full bg-black h-full opacity-50"></div>
  </div>
</div>
<div class="w-full bg-black h-40">
  <div
    class="w-full md:w-1/2 md:mx-auto flex justify-center items-center h-full"
  >
    <div class="flex flex-col justify-center w-1/5 items-center">
      <img class="w-20 mb-4" src="../../assets/logo1.png" alt="" />
      <button
        class="px-2 py-1 w-24 text-white rounded-sm bg-red-600 focus:outline-none"
      >
        Ver más
      </button>
    </div>
    <div class="flex flex-col justify-center ml-12 w-1/5 items-center">
      <img class="w-20 mb-3" src="../../assets/logo2.png" alt="" />
      <button
        class="px-2 py-1 w-24 text-white rounded-sm bg-red-600 focus:outline-none"
      >
        Ver más
      </button>
    </div>
    <div class="flex flex-col justify-center ml-12 w-1/5 items-center">
      <img class="w-20 mb-3" src="../../assets/logo3.png" alt="" />
      <button
        class="px-2 py-1 w-24 text-white rounded-sm bg-red-600 focus:outline-none"
      >
        Ver más
      </button>
    </div>
  </div>
</div>
<div
  class="w-full bg-gray-400 h-56 flex items-center justify-center text-white font-bold text-3xl"
>
  Start hot sales cards...
</div>
