<div class="w-full">
  <div class="w-full flex justify-center">
    <h1
      class="mt-24 md:mt-32 text-3xl md:text-5xl z-20 text-white font-Poppins font-bold uppercase absolute"
    >
      Pizza in Trevi
    </h1>

    <p
      class="xl:text-xl w-5/6 md:text-lg text-sm mt-40 xl:w-2/5 absolute md:mt-48 z-20 text-white md:w-1/2 text-center block"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium ut
      ante ac convallis. Nunc magna massa, dignissim a hendrerit eu, laoreet et
      libero.
    </p>
  </div>
  <div
    class="bg-cover changeHeight bg-center grayScale mt-20"
    style="
      background-image: url(https://images.unsplash.com/photo-1571407970349-bc81e7e96d47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    "
  ></div>
</div>
<div class="w-full bg-black h-40">
  <div
    class="w-full lg:w-1/2 md:mx-auto flex justify-evenly items-center h-full"
  >
    <div class="flex flex-col justify-center md:w-1/5 items-center">
      <img class="w-16 md:w-20 mb-4" src="../../assets/logo1.png" alt="" />
      <button
        class="px-2 py-1 w-24 text-white rounded-sm bg-red-600 focus:outline-none"
      >
        Ver más
      </button>
    </div>
    <div class="flex flex-col justify-center md:w-1/5 items-center">
      <img class="w-16 md:w-20 mb-3" src="../../assets/logo2.png" alt="" />
      <button
        class="px-2 py-1 w-24 text-white rounded-sm bg-red-600 focus:outline-none"
      >
        Ver más
      </button>
    </div>
    <div class="flex flex-col justify-center md:w-1/5 items-center">
      <img class="w-16 md:w-20 mb-3" src="../../assets/logo3.png" alt="" />
      <button
        class="px-2 py-1 w-24 text-white rounded-sm bg-red-600 focus:outline-none"
      >
        Ver más
      </button>
    </div>
  </div>
</div>
<div class="w-full md:h-64 h-auto bg-gray-100">
  <h1 class="text-xl text-center darkRed">Las mas vendidas</h1>
  <div
    id="cards"
    class="sm:flex w-10/12 mx-auto mt-4 justify-evenly lg:justify-center sm:w-11/12"
  >
    <div
      class="lg:mr-16 bigger w-full mb-8 lg:w-40 sm:w-32 mr-2 md:mr-4 lg:w-40rounded shadow-2xl h-48 flex flex-col justify-evenly items-center px-2 relative"
    >
      <img class="w-24" src="../../assets/pizza1.png" alt="" />
      <div
        class="w-10 h-10 bg-green-600 absolute priceTag flex flex-col justify-center items-center"
      >
        <span class="text-white text-sm font-bold">$360</span>
      </div>
      <h4 class="text-gray-800 text-center">Jamon y morrones</h4>
      <button
        class="w-10/12 px-2 py-1 text-white rounded sm:w-full bg-red-600 focus:outline-none"
      >
        Ordenar
      </button>
    </div>
    <div
      class="lg:mr-16 bigger w-full mb-8 lg:w-40 sm:w-32 mr-2 md:mr-4 lg:w-40rounded shadow-2xl h-48 flex flex-col justify-evenly items-center px-2 relative"
    >
      <img class="w-24" src="../../assets/pizza1.png" alt="" />
      <div
        class="w-10 h-10 bg-green-600 absolute priceTag flex flex-col justify-center items-center"
      >
        <span class="text-white text-sm font-bold">$360</span>
      </div>
      <h4 class="text-gray-800 text-center">Jamon y morrones</h4>
      <button
        class="w-10/12 px-2 py-1 text-white rounded sm:w-full bg-red-600 focus:outline-none"
      >
        Ordenar
      </button>
    </div>
    <div
      class="lg:mr-16 bigger w-full mb-8 lg:w-40 sm:w-32 mr-2 md:mr-4 lg:w-40rounded shadow-2xl h-48 flex flex-col justify-evenly items-center px-2 relative"
    >
      <img class="w-24" src="../../assets/pizza1.png" alt="" />
      <div
        class="w-10 h-10 bg-green-600 absolute priceTag flex flex-col justify-center items-center"
      >
        <span class="text-white text-sm font-bold">$360</span>
      </div>
      <h4 class="text-gray-800 text-center">Jamon y morrones</h4>
      <button
        class="w-10/12 px-2 py-1 text-white rounded sm:w-full bg-red-600 focus:outline-none"
      >
        Ordenar
      </button>
    </div>
    <div
      class="lg:mr-16 bigger w-full mb-8 lg:w-40 sm:w-32 mr-2 md:mr-4 lg:w-40rounded shadow-2xl h-48 flex flex-col justify-evenly items-center px-2 relative"
    >
      <img class="w-24" src="../../assets/pizza1.png" alt="" />
      <div
        class="w-10 h-10 bg-green-600 absolute priceTag flex flex-col justify-center items-center"
      >
        <span class="text-white text-sm font-bold">$360</span>
      </div>
      <h4 class="text-gray-800 text-center">Jamon y morrones</h4>
      <button
        class="w-10/12 px-2 py-1 text-white rounded sm:w-full bg-red-600 focus:outline-none"
      >
        Ordenar
      </button>
    </div>
    <div
      class="lg:mr-16 bigger w-full mb-8 lg:w-40 sm:w-32 mr-2 md:mr-4 lg:w-40rounded shadow-2xl h-48 flex flex-col justify-evenly items-center px-2 relative"
    >
      <img class="w-24" src="../../assets/pizza1.png" alt="" />
      <div
        class="w-10 h-10 bg-green-600 absolute priceTag flex flex-col justify-center items-center"
      >
        <span class="text-white text-sm font-bold">$360</span>
      </div>
      <h4 class="text-gray-800 text-center">Jamon y morrones</h4>
      <button
        class="w-10/12 px-2 py-1 text-white rounded sm:w-full bg-red-600 focus:outline-none"
      >
        Ordenar
      </button>
    </div>
  </div>
</div>
<div class="w-full">
  <div class="w-full flex justify-center">
    <h1
      class="xl:w-5/12 xl:text-6xl text-center w-8/12 sm:w-5/12 md:w-4/12 mt-12 text-3xl sm:text-4xl lg:text-5xl z-20 text-white font-Poppins font-medium absolute"
    >
      +40 helados artesanales
    </h1>
    <a
      routerLink="/menu"
      class="absolute text-white z-20 underline text-lg md:text-2xl mt-32 sm:mt-40 lg:mt-48 xl:mt-56"
      >Ver más</a
    >
  </div>
  <div
    class="bg-cover bg-center changeHeight grayScale"
    style="
      background-image: url(https://images.unsplash.com/photo-1560801530-34efebfecba8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    "
  ></div>
</div>
<div class="w-full mapHeight">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13111.034341715167!2d-58.4226055!3d-34.7616737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6f7123b777083cc!2sPizza%20in%20Trevi%20Lomas!5e0!3m2!1sen!2sar!4v1595871416137!5m2!1sen!2sar"
    frameborder="0"
    style="border: 0;"
    allowfullscreen="true"
    aria-hidden="false"
    tabindex="0"
    class="w-full h-full"
  ></iframe>
</div>
<app-footer></app-footer>
