<footer class="w-full md:h-24 h-40 bg-black">
  <div class="md:flex items-center mx-auto md:w-2/3 pt-2 justify-center w-full">
    <div>
      <img
        src="../../../assets/brand.png"
        class="md:w-12 hidden md:block"
        alt=""
      />
    </div>
    <ul class="md:ml-8 text-white font-Poppins font-semibold text-sm">
      <li routerLink="/menu" class="md:text-xs mt-2 text-center">Productos</li>
      <li routerLink="/contact" class="md:text-xs mt-2 text-center">
        Contacto
      </li>
      <li
        href="https://goo.gl/maps/uxD6PZ9z6ChfmShQ8"
        class="md:text-xs mt-2 text-center"
      >
        My Business
      </li>
    </ul>
    <div class="md:border md:border-white md:h-16 md:ml-8"></div>
    <p class="text-xs text-white font-semibold ml-8 mt-4 text-center">
      Gral.Frias 335 Lomas de Zamora
    </p>
  </div>
</footer>
