<footer class="w-full md:h-24 h-40 bg-black">
  <div class="md:flex items-center mx-auto md:w-2/3 pt-2 justify-center w-full">
    <div>
      <img
        src="../../../assets/brand.png"
        class="md:w-12 hidden md:block"
        alt=""
      />
    </div>
    <ul class="md:ml-8 text-white font-Poppins font-semibold text-sm">
      <li routerLink="/menu" class="md:text-xs mt-2 text-center">Productos</li>
      <li routerLink="/contact" class="md:text-xs mt-2 text-center">
        Contacto
      </li>
      <a
        href="https://www.google.com/maps/place/Pizza+in+Trevi+Lomas/@-34.7616737,-58.4226055,15z/data=!4m5!3m4!1s0x0:0xc6f7123b777083cc!8m2!3d-34.7616737!4d-58.4226055?shorturl=1"
        class="md:text-xs mt-2 text-center"
      >
        My Business
      </a>
    </ul>
    <div class="md:border md:border-white md:h-16 md:ml-8"></div>
    <p class="text-xs text-white font-semibold ml-8 mt-4 text-center">
      Gral.Frias 335 Lomas de Zamora
    </p>
  </div>
</footer>
